<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:replace="~{fragments :: resources}"></div>
  <title>Students</title>
</head>
<body>
  <nav th:replace="~{fragments :: navbar('students')}"></nav>
  <h1 th:text="|Student:   ${student.name}|"></h1>
  <div th:object="${student}" th:id="|student_${student.id}|">
    <p th:text="*{name}"></p>
    <p>id- [[*{id}]]</p>
  </div>
  <th:block th:replace="~{fragments :: scripts}"></th:block>
</body>
</html>